@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'TypeMachine';
  src: url('../public/type-machine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
  color: var(--color-black);

}

@tailwind base;
@tailwind components;
@tailwind utilities;